.btn {
    width: 100px;
    border-radius: 10%;
    box-shadow: 0px 10px 14px -7px #1e4356;
    color: white;
    background-color: $verde; 
    font-size: 15px;
    /* el efecto al tocar que se ponga blanco es de bootrap*/}


  .btnFundi {
    @extend .btn ;
    background-color: $rojo;
  ;
    
    }
   