

.navbar{   background-color: $verde;
    
    .nav-link{   color: antiquewhite;

        
    
      /*  &:hover { text-decoration: underline}  
         
                 } 
    .active{text-decoration: underline;  }*/
    }
}
#FCM {background-color: $rojo; }


@media (max-width: 768px){
    .navbar-brand{max-width: 250px;}
     }
 

.nav-link {
       
        position: relative; }
        .nav-link::after {
          content: "";
          background-color: rgba(255, 255, 255, 0.512);
          border-radius: 20%;
          position: absolute;
          left: 5%;
          top: 80%;
          width: 88%;
          height: 3px;
          opacity: 0;
          transition: 0.6s; }
        .nav-link:hover::after {
          opacity: 1; }
      
      .nav-item a.active::after {
        opacity: 1; }
      
      .nav-item a:hover {
        color: antiquewhite;
        opacity: 0.9; }




