

.navbar{   background-color: $verde;
    
    .nav-link{   color: antiquewhite;

        &:hover { text-decoration: underline}  
         
                 } 
    .active{text-decoration: underline;  }
     }
#FCM {background-color: $rojo; }


@media (max-width: 768px){
    .navbar-brand{max-width: 250px;}
     }
 






