.navbar{
    background-color: $verde;
    
    
    .nav-link{   color: antiquewhite;

        &:hover { text-decoration: underline}  
         
                 } 
    .active{text-decoration: underline;  }
     }
#FCM {background-color: $rojo; }
