@import "variables";
@import "navbar";
@import "footer";


/*Inicio Tarjetas sin boostrap*/
.presentacion { padding: 15px;
                display: flex;
                justify-content: space-between;
                text-align: center;
                align-items: center;
                        h3{ font-family: 'Times New Roman', Times, serif;
                            font-size: 45px;}
                        p{font-family: 'Times New Roman', Times, serif;
                          font-size: 20px;}
                
                
        }

@media (max-width: 768px){
        .presentacion{flex-wrap: wrap;
                        justify-content: center;}
                .logoccm{max-width: 50%}
             
         };
/*Fin Tarjetas sin boostrap*/  




