* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

@import "variables";
@import "btn";
@import "navbar";
@import "footer";
@import "index";
@import "rehabilitacion";
@import "equipoProfesional";
@import "capacitacion";

.contacto{background-color: rgb(222, 213, 213);}










