* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #016936;
}
.navbar .nav-link {
  color: antiquewhite;
  /*  &:hover { text-decoration: underline}  

               } 
  .active{text-decoration: underline;  }*/
}

#FCM {
  background-color: rgba(156, 13, 13, 0.8862745098);
}

@media (max-width: 768px) {
  .navbar-brand {
    max-width: 250px;
  }
}
.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.512);
  border-radius: 20%;
  position: absolute;
  left: 5%;
  top: 80%;
  width: 88%;
  height: 3px;
  opacity: 0;
  transition: 0.6s;
}

.nav-link:hover::after {
  opacity: 1;
}

.nav-item a.active::after {
  opacity: 1;
}

.nav-item a:hover {
  color: antiquewhite;
  opacity: 0.9;
}

.footer {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: #016936;
  color: white;
  justify-content: space-between;
}
.footer .redes {
  display: flex;
  justify-content: space-between;
}
.footer .redes img {
  padding: 10px;
  width: 25%;
}
.footer #facebook {
  padding: 15px;
}

.texto {
  margin-top: 28px;
}

@media (max-width: 768px) {
  .footer {
    justify-content: center;
  }
  .footer .redes {
    display: flex;
    justify-content: center;
  }
  .footer .texto {
    font-size: 12px;
  }
}
#FCM {
  background-color: rgba(156, 13, 13, 0.8862745098);
}

/*Inicio Tarjetas sin boostrap*/
.presentacion {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.presentacion h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  margin-left: 40px;
  margin-right: 10px;
}
.presentacion p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-left: 40px;
  margin-right: 10px;
}

.rcm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}
.rcm .dicho {
  width: 1000px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
}
.rcm .dicho p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.rcm .dicho .firma {
  font-style: italic;
}

.tituloentrevista {
  text-align: center;
  font-size: 18px;
}

.entrevistas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
}
.entrevistas .entrevistasVideo iframe {
  width: 300px;
  height: 150px;
  padding: 10px;
}

@media (max-width: 768px) {
  .presentacion {
    flex-wrap: wrap;
    justify-content: center;
  }
  .presentacion h3 {
    font-size: 30px;
  }
  .presentacion p {
    font-size: 15px;
  }
  .logoccm {
    max-width: 50%;
  }
  .logofcm {
    max-width: 50%;
  }
  .rcm .dicho {
    width: 500px;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .rcm .dicho p {
    font-size: 15px;
  }
  .rcm .dicho h4 {
    font-size: 20px;
  }
}
/*Fin Tarjetas sin boostrap*/
.objetivos {
  background-color: gray;
}

.btn {
  width: 100px;
  border-radius: 10%;
  box-shadow: 0px 10px 14px -7px #1e4356;
  color: white;
  background-color: #006633;
  font-size: 15px;
  /* el efecto al tocar que se ponga blanco es de bootrap*/
}

.fs-6 {
  color: rgb(21, 21, 21);
}

.card {
  box-shadow: 0px 10px 14px -7px #1e4356;
}

.card .card-header {
  background-color: #006633;
}

.card .card-header .nav-item {
  opacity: 0.8;
}/*# sourceMappingURL=style.css.map */